body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color:#434455;
    }

header {
    Family: "Roboto",
        sans-serif;
    Weight: Medium Size: 20px;
    letter-spacing:2%;
    color:#2e2f42;
}

.heder-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.Header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   
}
.heder-list-nav{

}
.heder-nav-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.heder-nav-item:first-child{
    color: #434455;
}
.heder-nav-item:first-child:hover,
:focus {
    color: #404bbf
}
.heder-nav-item:hover,
:focus {
    color: #404bbf;
}
.heder-list-address {
    font-style: normal;
}
.heder-address-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-hero {
    background-color:#2e2f42;
}
.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.button:hover,:focus {
    color: #404BBF;
    cursor: pointer;
}
.section-1 {

}

.span {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2e2f42;
}
.section-1-list {

}
.section-1-item {

}
.section-1-text {

}
.section-team {
    background-color: #F4F4FD;
}
.section-team-list {

}
.section-team-list-iteam {

}
.section-team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-portfolio {
    background-color: #F4F4FD
}
.section-portfolio-list {
    background-color: #FFFFFF
}
.section-portfolio-item {

}
.section-portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em
}
.footer {
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.footer-logo {
    color: #4d5ae5;
}
.span-footer {
    color: #f4f4fd;
    line-height: 1.5;

}
.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5
}
h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
