.body {
    font-family:"Roboto",sans-serif;
    color:#434455;
    background-color:#FFFFFF;
}
.header {
    
    background: var(--navy-blue);
   
}
.logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
   
}


.Web.link:hover,
.link:focus {
    color: #404bbf;
    letter-spacing: 0.02em;
}

.span {
    color: #2e2f42;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--iris);
}
.nav {
    font-family: "Roboto", sans-serif;
} 
.h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: var(--white);
}
.bootton{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--iris);
 
}
.bootton,
.link:hover,
.link:focus {
    color: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--iris);
    
}


.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
h3{ 
font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.section-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
.OurTeam {
    background: var(--white);  
}

.OurPortfolio {
   
   

}

.social-links .link:hover {
    color: tomato;
}
.footer {
    

}