/*.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 115px;
    height: 24px;
}*/
.Web {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.Web.link: hover,
.link:focus {
    color: #404bbf;
    letter-spacing: 0.02em;
}

.span {
    color: #2e2f42;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--navy-blue);
}
.menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 261px;
    height: 24px;
}

body {
    font-family:"Roboto", sans-serif;
    color:#434455;
    background: #FFFFFF;
}

head{
    background-color: var(--navy-blue);
    width: 1440px;
    height: 600px;
}
.h1{
    font-weight: 700;
    font-size: 56px;
    /* line-height: 60px; */
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}
.bootton
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--iris);

.section-title {

}
h3{ 
font-weight: 500;
    font-size: 20px;
    line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.section-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
text-align:center;
}


.nav {
    font-family: "Roboto", sans-serif;
    width: 1440px;
    height: 72px;
}
.bootton,
.link:hover,
.link:focus {
    color: var(--iris);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}
.social-links .link:hover {
    color: tomato;
}